<div class="banner" style="background-image: linear-gradient(55deg, rgba(100,150,150,0.9) 10%, rgba(102,151,150,0.3) 65%), url('assets/alara-logo.jpg');">
  <div class="banner-content">
    <h1>A passion for sustainability</h1>
    <p>Our aim is to produce very high quality, tasty, healthy and innovative mueslis</p>
    <a class="btn btn-info btn-lg">Be Inspired</a>
  </div>
</div>
