  <footer>
  <div class="footer" style="background-image: linear-gradient(55deg, rgba(100,150,150,0.9) 10%, rgba(102,151,150,0.3) 65%), url('http://alara.co.uk/imgs/top_logo.jpg');">
      <div class="row">
        <p>Copyright &copy; Alara Foods 2016</p>
      </div>
    </div>
  </div>
</footer>
